@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --bodyBackground: #f0f1f5;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #768cad;
  --fontPrimary: #002333;
  --textColor: #000000;
  --active: #2dbf64;
  --hoverColor: #423333;
  --badgeColor: #ffffff;
  --sectionBackground: #ffffff;
  --badgeBackgroundPrimary: #9e6de0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textColor);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  color: #7c83a7;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 10px;
}

.info {
  margin-top: 1rem;
  text-align: center;
}

.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.error-response {
  color: var(--dangerRed);
}
.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.login {
  height: 400px;
}
.nav_right {
  display: flex;
  font-size: 12px;
  gap: 5px;
  align-items: center;
  margin-right: 30px;
}
.badge_style_primary {
  border-radius: 0px;
  text-transform: uppercase;
  color: var(--badgeColor);
  background-color: var(--badgeBackgroundPrimary);
  display: inline-block;
  padding: 10px 20px;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (max-width: 1023px) {
  .column {
    grid-template-columns: 1fr;
  }
}
